---
quitOnTopLevelReturn: true
notARepository: skip
promptToReturnFromSubprocess: false
gui:
  theme:
    selectedLineBgColor:
      - "#2a2a2a"
git:
  # pagers:
  #   - pager: delta --dark --paging=never
  merging:
    args: --no-ff
  overrideGpg: true
customCommands:
  - key: <c-g>
    description: 'Pick AI commit'
    context: 'files'
    command: "bash $HOME/code/assafdori/dotfiles/lazygit/ai-commit.sh"
    output: terminal
